* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Helvetica, Arial, Helvetica, sans-serif;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.col-12 {
  width: 100%;
}
.col-11 {
  width: 90%;
}
.col-10 {
  width: 83.33333333%;
}
.col-9 {
  width: 75%;
}
.col-8 {
  width: 66.66666667%;
}
.col-7 {
  width: 58.33333333%;
}
.col-6 {
  width: 50%;
}
.col-5 {
  width: 41.66666667%;
}
.col-4 {
  width: 33.33333333%;
}
.col-3 {
  width: 25%;
}
.col-2 {
  width: 16.66666667%;
}
.col-1 {
  width: 8.33333333%;
}
.d-flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.align-items-center {
  align-items: center;
}
.justify-content-between {
  justify-content: space-between;
}
.logo img {
  height: 65px;
  object-fit: contain;
}
.instagram-sidebar {
  height: 98vh;
  position: sticky;
  border-right: 1px solid #d5d5d5;
  top: 0px;
  padding: 20px 30px 30px 25px;
  display: flex;
  flex-direction: column;
}

.sidebar-section {
  padding-top: 35px;
  padding-bottom: 80px;
}
.sidebar-section ul li {
  list-style: none;
}
.sidebar-section ul li a {
  text-decoration: none;
  color: #000;
  display: flex;
  gap: 18px;
  align-items: center;
}
.main-sidebar ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.sidebar-threads-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.text-center {
  text-align: center;
}
.sidebar-threads-section a {
  text-decoration: none;
  color: #000;
  display: flex;
  align-items: center;
  gap: 10px;
}
.sidebar-section ul li img,
.sidebar-threads-section a img {
  height: 22px;
  width: 22px;
}
#home-icon {
  height: 22px;
  width: 25px;
}
#list-profile {
  border-radius: 50%;
  object-fit: cover;
  height: 33px !important;
  width: 33px !important;
}
#suggestion-section-profile-img,
.suggestion-profile-img {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  object-fit: cover;
}
.suggested-title {
  padding: 20px 0px;
}
.suggested-friends-section {
  padding: 50px 30px;
}
.gap-1 {
  gap: 10px;
}
.flex-column {
  flex-direction: column;
}
.gap-0 {
  gap: 0px;
}
#switch-user,
.follow-user {
  text-decoration: none;
  color: #0095f6;
}
.suggestion-see-all {
  text-decoration: none;
  color: #000;
}
.suggested-for-you-content {
  color: #7a7777;
  font-size: 14px;
  font-weight: 550;
}
.suggestion-username {
  font-size: 14px;
  font-weight: 550;
}
.post-profile-name {
  font-size: 14px;
  font-weight: 550;
}
.suggestion-sub-title {
  color: #958f8f;
}
.story-profile-img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  padding: 0px;
}
.stories-profile-name {
  font-size: 12px;
}
.post-profile-image {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
}
#newsfeed-content {
  justify-content: center;
  margin-top: 30px;
}
.position-relative {
  position: relative;
}
.position-absolute {
  position: absolute;
}
.news-feed-content {
  padding: 0px 95px;
}
.insta-stories {
  padding-bottom: 30px;
}
.pb-2 {
  padding-bottom: 20px;
}

.post-images {
  background-image: url(./images/jassitaPost.png);
  height: 550px;
  width: 450px;
  background-size: cover;
}
.like,
.comment,
.share {
  height: 22px;
  width: 22px;
  cursor: pointer;
}
.gap-2 {
  gap: 20px;
}
.gap-3 {
  gap: 30px;
}
.gap-4 {
  gap: 40px;
}
.like-count {
  padding: 12px 0px;
  font-weight: 550;
  font-size: 14px;
}
#caption {
  font-size: 14px;
}
.post-comment-number {
  padding-top: 7px;
  padding-bottom: 10px;
}
.d-block {
  display: block;
}
.mt-1 {
  margin-top: 12px;
}
.mt-2 {
  margin-top: 20px;
}
.mt-3 {
  margin-top: 30px;
}
.add-comment {
  border: none;
  outline: none;
}
.bookmark-icon {
  height: 20px;
  width: 22px;
  cursor: pointer;
}
.smile-icon {
  height: 13px;
  width: 13px;
  cursor: pointer;
}
.post-comment-number {
  font-size: 13px;
  color: #777777;
}
.border-bottom {
  border-bottom: 1px solid #c2c2c2;
  padding-bottom: 25px;
  margin-bottom: 50px;
}
.story-border {
  border: double 3px transparent;
  border-radius: 50%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  background-image: linear-gradient(white, white),
    radial-gradient(circle at bottom left, #ffce19, #f33da6);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  margin-bottom: 4px;
}
.explore-contents {
  width: 75%;
  margin: auto;
  padding-top: 30px;
  cursor: pointer;
}
.explore-images {
  height: 300px;
}
.active-sidebar {
  font-weight: 700;
  font-size: 15px;
}
.explore-like-comment {
  display: flex;
  gap: 20px;
  top: 50%;
  left: 18%;
  display: none;
  transition: 0.8s;
}
.explore-like-comment-icon {
  width: 20px;
  height: 20px;
}
.explore-contents:hover .explore-like-comment {
  display: flex;
}
.explore-contents:hover .explore-images {
  filter: brightness(80%);
}
.explore-like-comments-counter {
  color: #fff;
  padding-left: 5px;
  font-size: 15px;
  font-weight: 550;
}
#profile-picture {
  height: 130px;
  width: 130px;
  border-radius: 50%;
  object-fit: cover;
}
.user-name {
  font-size: 19px;
  margin-right: 20px;
}
.profile-btn {
  padding: 9px 20px;
  margin: 0px 10px 0px 0px;
  font-weight: 550;
  font-size: 13px;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}
.post-follower-following-counter {
  display: flex;
  gap: 20px;
  padding: 25px 0px 20px 0px;
}
#setting-image {
  width: 25px;
  height: 25px;
}
.profile-container {
  padding-top: 30px;
  width: 70%;
  margin: auto;
  padding-bottom: 50px;
}
#profile-tagged p {
  font-size: 15px;
}
.collection img {
  width: 100%;
}
.stories-collection {
  padding-top: 30px;
  margin-left: 40px;
}
.collection {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  width: 80px;
}
.stories-collection {
  display: flex;
}
.collection img {
  border: 1px solid #b6b6b6;
  border-radius: 50%;
  padding: 25px;
}

#name {
  font-size: 13px;
  font-weight: 550;
}
.collection span {
  font-size: 13px;
}
.pffc-count {
  font-size: 15px;
}
.post-save-tag-btn {
  outline: none;
  border: none;
  padding-top: 25px;
  background-color: transparent;
  cursor: pointer;
}
.profile-button-collection {
  justify-content: center;
  gap: 40px;
  border: 0px;
  border-top: 1px solid #cccccc;
}
#getting-started {
  font-size: 13px;
  display: block;
  padding-top: 20px;
}
#profile-saved-content {
  font-size: 12px;
  color: #6b6b6b;
}
#profile-add-collection {
  font-size: 14px;
  text-decoration: none;
}
.profile-bookmark-img,
.profile-icon {
  width: 70px;
  height: 67px;
  border: 2px solid;
  border-radius: 50%;
}
.profile-bookmark-img h1 {
  font-weight: bolder;
}
.profile-bookmark-img img {
  padding: 20px;
}
#save-photos-vidoes {
  font-size: 13px;
  line-height: 18px;
}
.profile-icon img {
  padding: 10px;
  width: 100%;
}
#profile-tagged {
  /* margin-top: 60px; */
  display: none;
  /* margin-bottom: 100px; */
}
#profile-saved {
  margin-top: 50px;

  display: none;
}
.profile-footer {
  flex-wrap: wrap;
  padding: 0px 20px;
  gap: 15px;
  justify-content: center;
}
.profile-footer a {
  text-decoration: none;
  color: #878787;
  font-size: 12px;
}
.post-save-tagged-container {
  padding-top: 15px;
  margin-top: 50px;
}
.profile-saved-image-content {
  padding: 60px 0px 80px 0px;
}
.profile-tagged-content {
  padding-top: 60px;
  padding-bottom: 100px;
}
#modal {
  display: none;
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: rgb(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
}
#fileSelectBtn {
  background: #0095f6;
  color: #fff;
  padding: 8px 15px;
  border-radius: 5px;
  font-weight: 550;
  font-size: 14px;
  cursor: pointer;
}
#drag-photos {
  font-size: 23px;
}
#modal span {
  text-align: right;
  display: block;
  font-size: 35px;
  color: #fff;
  width: 100%;
  cursor: pointer;
  margin-right: 40px;
}
.modal-content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.create-post-card {
  background: #fff;
  border-radius: 10px;
  width: 500px;
  margin: auto;
}
#multimediaImages {
  height: 60px;
  width: 60px;
}
#createNewPostTitle {
  border-bottom: 1px solid #cccccc;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
}
.photo-uploading-section {
  padding: 180px 0px 150px 0px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
}

#btn-collection-post {
  border-top: 1px solid;
}
.notification-logo,
.message-logo,
.search-logo {
  width: 70px;
  margin-top: 30px;
  border: 1px solid;
  padding: 15px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.notification-logo img,
.message-logo img,
.search-logo img {
  width: 100%;
}
.notification-suggestion-img,
.message-suggestion-img {
  width: 45px;
  height: 45px;
}
.notification-suggestion-img img,
.message-suggestion-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.notification-logo-text-section p {
  font-size: 14px;
}
.notification-logo-text-section span {
  font-size: 14px;
}
.suggested-text {
  font-size: 14px;
  font-weight: 550;
  margin-top: 50px;
  margin-bottom: 30px;
}
.notification-suggested-title-name {
  font-size: 15px;
  padding: 2px 0px;
}
.notification-suggested-subtitle {
  font-size: 13px;
}

.instagram-logo img {
  height: 22px;
  width: 22px;
}
#follow-btn,
.send-message {
  background-color: #0095f6;
  color: #fff;
  border-radius: 5px;
  padding: 7px 20px;
  border: none;
  cursor: pointer;
}

.notification-sidebar,
.message-sidebar,
.search-sidebar {
  border-right: 1px solid #c9c9c9;
  height: 100vh;
}
.notification-sidebar,
.notification-sidebar-content {
  padding-top: 30px;
}
.search-sidebar,
.notification-sidebar {
  padding: 30px 16px 0px 16px;
}
.notification-sidebar-content,
.message-sidebar-content {
  padding-left: 30px;
  padding-right: 30px;
}
.search-sidebar-content {
  padding-top: 30px;
}
.message-sidebar-content {
  padding-top: 30px;
}
.notification-username,
.message-username {
  font-size: 14px;
  font-weight: 550;
}
.notification-container,
#search-main-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #fff;
  box-shadow: 0px 0px 2px 0px #9f9f9f;
  height: 100vh;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.message-sidebar {
  padding: 0px 20px;
  padding-top: 30px;
}
.editing-icon {
  width: 25px;
}
.editing-icon img {
  width: 100%;
}
.message-sidebar-container {
  border-right: 1px solid #ccc;
  padding-right: 30px;
}
#message-title {
  font-size: 15px;
  font-weight: 550;
}
#request-message-title {
  font-size: 14px;
  color: #6c6c6c;
  text-decoration: none;
}
#message-user-name {
  font-weight: 550;
  font-size: 21px;
}
#edit-icon {
  cursor: pointer;
}
#no-message {
  font-size: 13px;
}
.h-8 {
  height: 86vh;
}
.message-icon {
  width: 85px;
  border: 1px solid;
  border-radius: 50%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.message-icon img {
  width: 100%;
}
.chats-displayed-container p {
  font-size: 18px;
}
.chats-displayed-container span {
  font-size: 13px;
  color: #8b8b8b;
}
.chats-displayed-container button {
  font-weight: bold;
}
.chats-displayed-container {
  height: 100%;
}
.search-input-section input {
  width: 100%;
  padding: 8px 10px;
  border-radius: 8px;
  outline: none;
  border: 0;
  background-color: #ededed;
  font-size: 17px;
}
.search-section-header,
.search-section-body {
  padding: 0px 30px;
}
.search-section-header {
  border-bottom: 1px solid #b6b6b6;
}
.search-input-section {
  padding: 40px 0px 20px 0px;
}
.user-search-list span {
  font-size: 13px;
}
.user-search-list {
  height: 60vh;
}
.additional-sidebar-lists-img {
  width: 20px;
}
.notification-container {
  display: none;
}
#more-settings-lists {
  display: none;
  width: 265px;
  position: absolute;
  bottom: 100px;
  background-color: #fff;
  z-index: 1000;
  left: 10px;
  box-shadow: 0px 0px 5px 1px #d6d6d6;
  border-radius: 10px;
}
#more-settings-lists li {
  list-style: none;
  padding: 15px 20px;
  border-radius: 7px;
}
#more-settings-lists li a span,
#more-settings-lists li a {
  font-size: 14px !important;
  text-decoration: none;

  color: #000;
}
#more-settings-lists ul {
  padding: 20px 10px 0px 10px;
}
#more-settings-lists div {
  padding: 10px 0px 10px 0px;
  border-top: 4px solid #f3f3f3;
}
#more-settings-lists ul li:hover {
  background-color: #f3f3f3;
}
.additional-sidebar-lists-img img {
  width: 100%;
}
#more-settings-lists div a {
  padding: 15px 20px;
  border-radius: 7px;
  margin: 0px 10px;
  text-decoration: none;
  color: #000;
}
#more-settings-lists div a:hover {
  background-color: #f3f3f3;
}
#border {
  height: 1px;
  background-color: #f3f3f3;
  margin: 7px 0px;
}
#search-main-container {
  display: none;
}
.border-icon {
  border: 1px solid;
  border-radius: 10px;
}
.sidebar-links {
  width: 45px;
  height: 45px;
}
.links-gap {
  gap: 7px;
}
