* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Helvetica, Arial, Helvetica, sans-serif;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.col-12 {
  width: 100%;
}
.col-11 {
  width: 90%;
}
.col-10 {
  width: 83.33333333%;
}
.col-9 {
  width: 75%;
}
.col-8 {
  width: 66.66666667%;
}
.col-7 {
  width: 58.33333333%;
}
.col-6 {
  width: 50%;
}
.col-5 {
  width: 41.66666667%;
}
.col-4 {
  width: 33.33333333%;
}
.col-3 {
  width: 25%;
}
.col-2 {
  width: 16.66666667%;
}
.col-1 {
  width: 8.33333333%;
}
.d-flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.align-items-center {
  align-items: center;
}
.justify-content-between {
  justify-content: space-between;
}

.logo img {
  height: 65px;
  object-fit: contain;
}
.instagram-sidebar {
  height: 98vh;
  position: sticky;
  border-right: 1px solid #d5d5d5;
  top: 0px;
  padding: 30px 30px 30px 30px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}
.sidebar-section {
  padding-top: 30px;
  padding-bottom: 70px;
}
.sidebar-section ul li {
  list-style: none;
}
.sidebar-section ul li a {
  text-decoration: none;
  color: #000;
  display: flex;
  gap: 18px;
  align-items: center;
}
.sidebar-section ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.sidebar-threads-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.text-center {
  text-align: center;
}
.sidebar-threads-section a {
  text-decoration: none;
  color: #000;
  display: flex;
  align-items: center;
  gap: 10px;
}
.sidebar-section ul li img,
.sidebar-threads-section a img {
  height: 22px;
  width: 22px;
}
#home-icon {
  height: 25px;
  width: 28px;
}
#list-profile {
  border-radius: 50%;
  object-fit: cover;
  height: 33px;
  width: 33px;
}
#suggestion-section-profile-img,
.suggestion-profile-img {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  object-fit: cover;
}
.suggested-title {
  padding: 20px 0px;
}
.suggested-friends-section {
  padding: 50px 30px;
}
.gap-1 {
  gap: 10px;
}
.flex-column {
  flex-direction: column;
}
.gap-0 {
  gap: 0px;
}
#switch-user,
.follow-user {
  text-decoration: none;

  color: #0095f6;
}
.suggestion-see-all {
  text-decoration: none;
  color: #000;
}
.suggested-for-you-content {
  color: #7a7777;
  font-size: 14px;
  font-weight: 550;
}
.suggestion-username {
  font-size: 14px;
  font-weight: 550;
}
.post-profile-name {
  font-size: 14px;
  font-weight: 550;
}
.suggestion-sub-title {
  color: #958f8f;
}
.story-profile-img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  padding: 0px;
}
.stories-profile-name {
  font-size: 12px;
}
.post-profile-image {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
}
#newsfeed-content {
  justify-content: center;
  margin-top: 30px;
}
.position-relative {
  position: relative;
}
.position-absolute {
  position: absolute;
}
.news-feed-content {
  padding: 0px 95px;
}
.insta-stories {
  padding-bottom: 30px;
}
.pb-2 {
  padding-bottom: 20px;
}

.post-images {
  background-image: url(./images/jassitaPost.png);
  height: 550px;
  width: 450px;
  background-size: cover;
}
.like,
.comment,
.share {
  height: 22px;
  width: 22px;
  cursor: pointer;
}
.gap-2 {
  gap: 20px;
}
.gap-3 {
  gap: 30px;
}
.gap-4 {
  gap: 40px;
}
.like-count {
  padding: 12px 0px;
  font-weight: 550;
  font-size: 14px;
}
#caption {
  font-size: 14px;
}
.post-comment-number {
  padding-top: 7px;
  padding-bottom: 10px;
}
.mt-1 {
  margin-top: 12px;
}
.add-comment {
  border: none;
  outline: none;
}
.bookmark-icon {
  height: 20px;
  width: 22px;
  cursor: pointer;
}
.smile-icon {
  height: 13px;
  width: 13px;
  cursor: pointer;
}
.post-comment-number {
  font-size: 13px;
  color: #777777;
}
.border-bottom {
  border-bottom: 1px solid #c2c2c2;
  padding-bottom: 25px;
  margin-bottom: 50px;
}
.story-border {
  border: double 3px transparent;
  border-radius: 50%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  background-image: linear-gradient(white, white),
    radial-gradient(circle at bottom left, #ffce19, #f33da6);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  margin-bottom: 4px;
}
.explore-contents {
  width: 75%;
  margin: auto;
  padding-top: 30px;
  cursor: pointer;
}
.explore-images {
  height: 300px;
}
.active-sidebar {
  font-weight: 700;
  font-size: 15px;
}
.explore-like-comment {
  display: flex;
  gap: 20px;
  top: 50%;
  left: 18%;
  display: none;
  transition: 0.8s;
}
.explore-like-comment-icon {
  width: 20px;
  height: 20px;
}
.explore-contents:hover .explore-like-comment {
  display: flex;
}
.explore-contents:hover .explore-images {
  filter: brightness(80%);
}
.explore-like-comments-counter {
  color: #fff;
  padding-left: 5px;
  font-size: 15px;
  font-weight: 550;
}
#profile-picture {
  height: 130px;
  width: 130px;
  border-radius: 50%;
  object-fit: cover;
}
.user-name {
  font-size: 19px;
  margin-right: 20px;
}
.profile-btn {
  padding: 9px 20px;
  margin: 0px 10px 0px 0px;
  font-weight: 550;
  font-size: 13px;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}
.post-follower-following-counter {
  display: flex;
  gap: 20px;
  padding: 20px 0px;
}
#setting-image {
  width: 25px;
  height: 25px;
}
.profile-container {
  padding-top: 30px;
  width: 70%;
  margin: auto;
}
.collection img {
  width: 100%;
}
.stories-collection {
  padding-top: 30px;
}
.collection {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  width: 80px;
}
.stories-collection {
  display: flex;
}
.collection img {
  border: 1px solid #b6b6b6;
  border-radius: 50%;
  padding: 25px;
}
.collection span,
#name {
  font-size: 13px;
  font-weight: 550;
}
.pffc-count {
  font-size: 15px;
}
.post-save-tag-btn {
  outline: none;
  border: none;
  padding-top: 25px;
  background-color: transparent;
  cursor: pointer;
}
.profile-button-collection {
  justify-content: center;
  gap: 40px;
  border: 0px;
  border-top: 1px solid #cccccc;
}
#getting-started {
  font-size: 13px;
  display: block;
  padding-top: 20px;
}
#profile-saved-content {
  font-size: 12px;
  color: #6b6b6b;
}
#profile-add-collection {
  font-size: 14px;
  text-decoration: none;
}
.profile-bookmark-img {
  margin-top: 30px;
}
.profile-bookmark-img,
.profile-icon {
  width: 70px;
  height: 70px;
  border: 1px solid #a3a3a3;
  border-radius: 50%;
}
.profile-bookmark-img img {
  padding: 20px;
}
#save-photos-vidoes {
  font-size: 13px;
  line-height: 18px;
}
.profile-icon img {
  padding: 10px;
  width: 100%;
}
#profile-tagged {
  margin-top: 100px;

  display: none;
}
#profile-saved {
  margin-top: 50px;

  display: none;
}
.profile-footer {
  flex-wrap: wrap;
  padding: 0px 20px;
  margin-top: 40px;
  gap: 15px;
  justify-content: center;
}
.profile-footer a {
  text-decoration: none;
  color: #878787;
  font-size: 12px;
}
.post-save-tagged-container {
  padding-top: 15px;
  margin-top: 50px;
}
